html {
    position: relative;  
}

body {
    font-family: Futura, Futura, sans-serif;
    padding-bottom: 150px;
    }

.logo {
    padding-top: 15px;
    padding-left:  10px;
    }

.topnav {
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
    color: #6D6D6C;
    position: absolute;
    top: 30px;
    right: 5vw;
   }

.button {
    background-color: white; 
    color: dimgrey;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

.button:hover {
    background-color: black; /* Black */
    color: white;
    }